<section class="mx-auto 2xl:max-w-7xl bg-black lg:fixed lg:z-50 w-full">
  <div class="mx-auto bg-black justify-center w-full">
    <div class="mx-auto max-w-7xl flex flex-col lg:flex-row lg:items-center lg:justify-between w-full">
      <div class="text-white text-center items-center w-full flex flex-col justify-between md:px-0 sm:flex-row sm:px-8">
        <a href="/me" class="text-blue-500 hover:text-blue-400 duration-200 text-xs font-display inline-flex items-center md:px-8 md:text-center py-4 uppercase">
          <span>Jareth Harrison-Huntley</span>
        </a>
        <nav class="flex gap-8 items-center">
          <a href="/me/career" class="text-white/70 hover:text-white duration-200 text-xs uppercase">Career</a>
          <a href="/me/projects" class="text-white/70 hover:text-white duration-200 text-xs uppercase">Projects</a>
          <a href="/me/blog" class="text-white/70 hover:text-white duration-200 text-xs uppercase">Blog</a>
          <a href="https://github.com/JHARRISON-HUNTLEY" class="text-white/70 hover:text-white duration-200 text-xs uppercase">Github</a>
          <a href="mailto:jharrison.huntley@outlook.com" class="text-blue-500 hover:text-blue-400 duration-200 text-xs uppercase">Contact</a>
        </nav>
      </div>
    </div>
  </div>
</section>